<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8"/>
    <title>damdata</title>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-172086799-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-172086799-1');
</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.27.0/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-annotation/0.5.7/chartjs-plugin-annotation.min.js"></script>
    <script>
        var data = FORMATTED_JSON;
        var pointInfo = INFO_FORMATTED_JSON;
        var charts = null;
        var orderedKeys = ['寸滩', '武隆', '三峡水库', '茅坪(二)', '宜昌', '沙市', '城陵矶(莲)', '城陵矶(七)', '丹江口水库', '龙王庙', '汉口', '九江', '湖口', '大通'];
        var initiallyShownPointKeys = ['寸滩', '三峡水库', '宜昌', '汉口', '大通'];

        function getMinMax(o) {
            var minmax = Object.keys(o).map(function (key) {
                var d = Object.keys(o[key]).map(Number);
                return {
                    min: Math.min.apply(null, d),
                    max: Math.max.apply(null, d)
                }
            });
            return minmax.reduce(function (r, d) {
                return {
                    min: Math.min(r.min, d.min),
                    max: Math.max(r.max, d.max)
                };
            });
        }

        var tmnmx = getMinMax(data);

        function formatDate(date) {
            return (
                "" +
                date.getFullYear() +
                "/" +
                (date.getMonth() + 1) +
                "/" +
                date.getDate() +
                " " +
                ("0" + date.getHours()).slice(-2) +
                ":" +
                ("0" + date.getMinutes()).slice(-2)
            );
        }

        function renderChart(point) {

            var cidx = orderedKeys.indexOf(point);
            if (cidx != undefined) {
                if (charts[cidx]) {
                    charts[cidx].destroy();
                }
            }

            var particle = function (criteria) {
                return Object.keys(data[point]).map(function (key) {
                    return {
                        x: parseInt(key),
                        y: data[point][key][criteria]
                    };
                }).filter(function (r) {
                    return r.y != 0;
                });
            };

            var ctx = document.getElementById("chart" + (cidx + 1)).getContext("2d");
		    var graph_title = point;
			var annots = [];
			var atxts = { 'warning' : '警戒水位', 'guarantee' : '保証水位' };
			var acolor = {'warning' : 'orange', 'guarantee' : 'red' };

			var y = particle("z").map( function (r) { return r.y; });
			var ymin = Math.min.apply(null, y);
			var ymax = Math.max.apply(null, y);
			var dy = ymax - ymin;
			var p = pointInfo[point];

			['warning', 'guarantee'].reduce( function(n, typ, i, a) {
			    if ( p != undefined && p[typ] != undefined && p[typ] != '--') {
				    var lvl = Number(p[typ]);
					if ( !isNaN(lvl)) {
					    graph_title += (n == 0) ? "(" : ", " ;
						graph_title += atxts[typ] + ": " + lvl + "[m]";
					}
					if ((lvl-ymax) < dy*0.5) {
					    annots.push({
						    type: 'line',
						    mode: 'horizontal',
						    scaleID: 'z',
						    value: lvl.toFixed(2),
						    borderWidth: 2,
						    borderColor: acolor[typ],
						    borderDash: [2, 2],
						});
					}	
				    n += 1;
				}
				if ( (n != 0) && (i ==  (a.length - 1))) {
				    graph_title += ')';
				}
				return n;
			}, 0);	
						    
            charts[cidx] = new Chart(ctx, {
                type: "scatter",
                data: {
                    datasets: [
                        {
                            label: "水位",
                            fill: false,
                            data: particle("z"),
                            yAxisID: "z",
                            borderWidth: 2,
                            borderColor: "rgba(0,113,233,0.8)",
                            backgroundColor: "rgba(0,113,233,0.8)",
                            showLine: true,
                        },
                        {
                            label: "流入",
                            fill: false,
                            yAxisID: "q",
                            data: particle("q"),
                            borderWidth: 2,
                            borderColor: "rgba(233,36,75,0.8)",
                            backgroundColor: "rgba(233,36,75,0.35)",
                            hoverBackgroundColor: "rgba(233,36,75)",
                            showLine: true,
                        },
                        {
                            label: "流出",
                            fill: true,
                            yAxisID: "q",
                            data: particle("oq"),
                            borderWidth: 2,
                            borderColor: "rgba(70,233,101,0.8)",
                            backgroundColor: "rgba(70,233,101,0.35)",
                            hoverBackgroundColor: "rgba(70,233,101)",
                            showLine: true,
                        },
                    ],
                },
                options: {
                    title: {
                        display: true,
                        text: graph_title,
                        fontSize: 18
                    },
		    animation: { 
	              duration: 0
		    },
                    responsive: true,
                    maintainAspectRatio: true,
                    aspectRatio: 3,
                    scales: {
                        yAxes: [
                            {
                                id: "z",
                                ticks: {
                                    beginAtZero: false,
                                    fontColor: 'blue',
                                },
                                scaleLabel: {
                                    display: true,
                                    labelString: '水位[m]',
                                }
                            },
                            {
                                id: "q",
                                position: "right",
                                scaleLabel: {
                                    display: true,
                                    labelString: '流量[m^3/s]',
                                }

                            },
                        ],
                        xAxes: [
                            {
							    type: 'time',
								time: {
								    unit: 'day',
									displayFormats: {
									    day: 'M/D',
									},
									parser: function(t) {
									    return moment(t);
									},
								},
								bounds: 'ticks',
                                ticks: {
                                    suggestedMax: moment(tmnmx.max).valueOf(),
                                    suggestedMin: moment(tmnmx.min).valueOf(),
                                },
                            },
                        ],
                    },
                    tooltips: {
                        callbacks: {
                            title: function (t, data) {
                                return formatDate(new Date(t[0].xLabel));
                            },
                            label: function (t, data) {
                                var label = data.datasets[t.datasetIndex].label || '';
                                if (label) {
                                    label += ":" + t.yLabel;
                                }
                                return label;
                            }
                        }
                    },
					annotation: { annotations: annots },
                },
            });
        }

        document.addEventListener("DOMContentLoaded", function () {
            charts = Array(orderedKeys.length);
            orderedKeys.forEach(function (key, idx) {
                var check = document.createElement("input");
                check.setAttribute('type', 'checkbox');
                check.setAttribute('name', key);
                if (initiallyShownPointKeys.includes(key)) {
                    check.setAttribute('checked', 'checked');
                    renderChart(key);
                } else {
                    document.getElementById("chart" + (idx + 1)).parentElement.style.display = 'none';
                }
                check.setAttribute('id', 'cbx' + idx);
                var lbl = document.createElement('label');
                lbl.setAttribute('for', 'cbx' + idx);
                var txt = document.createTextNode(key);

                check.addEventListener("click", function (e) {
                    var cidx = orderedKeys.indexOf(key);
                    var div = document.getElementById("chart" + (cidx + 1)).parentElement;
                    if (e.target.checked) {
                        div.style.display = "block";
                        renderChart(key);
                    } else {
                        div.style.display = "none";
                    }
                });
                lbl.appendChild(check);
                lbl.appendChild(txt);
                document.getElementById("pointButtons").appendChild(lbl);
            });
        });
    </script>
    <style>
        html, body {
            width: 100%;
            margin: unset;
            padding: unset;
        }

        #wrapper {
            max-width: 1100px;
            margin: 0 auto;
            padding: 10px;
        }

        #chartsContainer {
            width: 100%;
        }

        #chartsContainer > div {
            margin: 0 auto 30px auto;
            min-width: 600px;
            max-width: 900px;
        }

        #pointButtons {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            margin-bottom: 20px;
        }

        #pointButtons > label {
            margin-right: 1em;
            line-height: 2;
            font-size: 1.2em;
        }
    </style>
</head>
<body>
<div id="wrapper">
    <p><a href="https://github.com/y-o0/damdata">Contributions are welcome. View this on github</a></p>
    <div id="pointButtons"></div>
    <div id="chartsContainer">
        <div>
            <canvas id="chart1"></canvas>
        </div>
        <div>
            <canvas id="chart2"></canvas>
        </div>
        <div>
            <canvas id="chart3"></canvas>
        </div>
        <div>
            <canvas id="chart4"></canvas>
        </div>
        <div>
            <canvas id="chart5"></canvas>
        </div>
        <div>
            <canvas id="chart6"></canvas>
        </div>
        <div>
            <canvas id="chart7"></canvas>
        </div>
        <div>
            <canvas id="chart8"></canvas>
        </div>
        <div>
            <canvas id="chart9"></canvas>
        </div>
        <div>
            <canvas id="chart10"></canvas>
        </div>
        <div>
            <canvas id="chart11"></canvas>
        </div>
        <div>
            <canvas id="chart12"></canvas>
        </div>
        <div>
            <canvas id="chart13"></canvas>
        </div>
        <div>
            <canvas id="chart14"></canvas>
        </div>
    </div>

    <section>
        <h1>位置関係</h1>
        <div class="map-link-container">
            <p><a href="https://i.imgur.com/lIzelQK.jpg" target="_blank" rel="noopener">他の各観測地点の位置関係地図はこちら（外部リンク）</a>
            </p>
            <p>※地図のライセンスが不明なためリンクにて紹介</p>
        </div>
        <div style="display:flex;flex-direction:column;justify-content:center;align-items:center;">
            <p style="text-align:center;"><a href="https://egg.5ch.net/test/read.cgi/river/1593854846/118"
                                             target="_blank"
                                             rel="noopener">三峡ダムスレ★25 >>118氏</a>提供</p>
            <img src="./images/damthread-25-118-resized.jpg" style="max-width: 80%;"/>
        </div>
    </section>
    <section>
        <h1>周辺の天気</h1>
        <div style="display:flex;justify-content:center;">
            <iframe width="800" height="500"
                    src="https://embed.windy.com/embed2.html?lat=30.145&lon=107.094&detailLat=35.688&detailLon=139.753&width=800&height=500&zoom=5&level=surface&overlay=rain&product=ecmwf&menu=&message=true&marker=&calendar=now&pressure=&type=map&location=coordinates&detail=&metricWind=km%2Fh&metricTemp=%C2%B0C&radarRange=-1"
                    frameborder="0"></iframe>
        </div>
    </section>
    <section>
        <h1>snapshot(UTC)</h1>
        <ul>
            <!--  snapshots here  -->
        </ul>
    </section>

    <section>
        <h2>json(UTC)</h2>
        <ul>
            <!--  jsons here  -->
        </ul>
    </section>
</div>
</body>
</html>




