<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8"/>
    <title>damdata</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
    <script>
        var data = FORMATTED_JSON;
        var selectedPoint = "三峡水库";
        var chart = null;

        function formatDate(date) {
            return (
                date.getFullYear() +
                "/" +
                ("0" + (date.getMonth() + 1)).slice(-2) +
                "/" +
                ("0" + date.getDate()).slice(-2) +
                " " +
                ("0" + date.getHours()).slice(-2) +
                ":" +
                ("0" + date.getMinutes()).slice(-2)
            );
        }

        function renderChart(point) {
            if (chart) {
                chart.destroy();
            }
            var particle = function (criteria) {
                return Object.keys(data[point]).map(function (key) {
                    return {
                        x: key,
                        y: data[point][key][criteria] == 0 ? null : data[point][key][criteria],
                    };
                });
            };
            var ctx = document.getElementById("chart").getContext("2d");
            ctx.height = 400;
            chart = new Chart(ctx, {
                type: "bar",
                data: {
                    labels: particle("z").map(function (r) {
                        return formatDate(new Date(parseInt(r.x)));
                    }),
                    datasets: [
                        {
                            type: "line",
                            label: "水位@" + point,
                            spanGaps: true,
                            fill: false,
                            data: particle("z").map(function (r) {
                                return r.y;
                            }),
                            yAxisID: "z",
                            borderWidth: 1,
                            borderColor: "rgba(0,113,233,0.8)",
                        },
                        {
                            label: "流入@" + point,
                            spanGaps: true,
                            yAxisID: "q",
                            data: particle("q").map(function (r) {
                                return r.y;
                            }),
                            borderWidth: 1,
                            borderColor: "rgba(233,36,75,0.8)",
                            backgroundColor: "rgba(233,36,75,0.35)",
                            hoverBackgroundColor: "rgba(233,36,75)",
                        },
                        {
                            label: "流出@" + point,
                            spanGaps: true,
                            yAxisID: "q",
                            data: particle("oq").map(function (r) {
                                return r.y;
                            }),
                            borderWidth: 1,
                            borderColor: "rgba(70,233,101,0.8)",
                            backgroundColor: "rgba(70,233,101,0.35)",
                            hoverBackgroundColor: "rgba(70,233,101)",
                        },
                    ],
                },
                options: {
                    responsive: true,
                    maintainAspectRatio: false,
                    scales: {
                        yAxes: [
                            {
                                id: "z",
                                ticks: {
                                    beginAtZero: false,
                                },
                            },
                            {
                                id: "q",
                                position: "right",
                            },
                        ],
                        xAxes: [
                            {
                                ticks: {
                                    reverse: true,
                                    beginAtZero: false,
                                },
                            },
                        ],
                    },
                },
            });
        }

        document.addEventListener("DOMContentLoaded", function () {
            Object.keys(data).forEach(function (key) {
                var newButton = document.createElement("button");
                var txt = document.createTextNode(key);
                newButton.addEventListener("click", function (_) {
                    selectedPoint = key;
                    renderChart(key);
                });
                newButton.appendChild(txt);
                document.getElementById("pointButtons").appendChild(newButton);
            });
            renderChart(selectedPoint);
        });

    </script>
</head>
<body>
<p><a href="https://github.com/y-o0/damdata">Contributions are welcome. View this on github</a></p>
<div style="height: 400px">
    <canvas id="chart" height="400"></canvas>
</div>
<div id="pointButtons"></div>
<div class="map-link-container">
  <p><a href="https://i.imgur.com/lIzelQK.jpg" target="_blank" rel="noopener">より正確でわかりやすい各観測地点の位置関係地図はこちら（外部リンク）</a></p>
  <p>※地図のライセンスが不明、かつ本当に作者による掲載の許諾なのかわからないためリンクにて紹介</p>
</div>
<div style="display: flex;justify-content:center;">
  <img src="./images/ichi.png" style="max-width: 80%;" />
</div>
<div style="display:flex;justify-content:center;">
  <iframe width="800" height="500" src="https://embed.windy.com/embed2.html?lat=30.145&lon=107.094&detailLat=35.688&detailLon=139.753&width=800&height=500&zoom=5&level=surface&overlay=rain&product=ecmwf&menu=&message=true&marker=&calendar=now&pressure=&type=map&location=coordinates&detail=&metricWind=km%2Fh&metricTemp=%C2%B0C&radarRange=-1" frameborder="0"></iframe>
</div>
<section>
    <h1>snapshot(UTC)</h1>
    <ul>
        <!--  snapshots here  -->
    </ul>
</section>

<section>
    <h2>json(UTC)</h2>
    <ul>
        <!--  jsons here  -->
    </ul>
</section>
</body>
</html>

